.buttons_box {
  width: 870px;
  height: 60px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.keyborad_buttons {
  width: 65%;
  min-width: 250px;
}

.resetAndLifesButton_box {
  display: flex;
  justify-content: space-between;

  flex-direction: column-reverse;
  margin-top: -3.4rem;
  align-items: center;
  width: 25%;
}

.letterButton {
  font-size: 1rem;
  background-color: wheat;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 28px;
  text-align: center;
  line-height: normal;
  border-radius: 5%;
  margin: 1.2px;
}
.letterButton:hover {
  transition: 0.4s background-color;
  background-color: tomato;
  border: none;
}

.resetAndNewKeyword_buttons {
  height: 35px;
  border-radius: 10%;
  border: none;
  background-color: wheat;
  font-size: 20px;
  cursor: pointer;
}

.reset_button {
  width: 60px;
  width: 135px;
  margin-top: 0.3rem;
}
.reset_button:hover {
  transition: 0.4s background-color;
  background-color: tomato;
}

.newKeyword {
  width: 138px;
}

.lifes {
  font-size: 20px;
  height: 40px;
  margin-top: 2px;
}

.winsGameOverYouwin {
  position: absolute;
  z-index: 1;
  text-align: center;
}

.gameOver {
  margin-bottom: 23rem;
  font-size: 3rem;
  color: tomato;
}

.youWin {
  margin-bottom: 23rem;
  font-size: 3rem;
  color: rgb(0, 0, 0);
}

.wins {
  margin-bottom: 30rem;
  font-size: 2rem;
}

@media (max-width: 900px) {
  .buttons_box {
    width: 754px;
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 819px) {
  .buttons_box {
    margin-bottom: 3.3rem;
  }
  .keyborad_buttons {
    width: 80%;
  }
}

@media (max-width: 770px) {
  .buttons_box {
    margin-bottom: 4.2rem;
    width: 700px;
  }
}

@media (max-width: 730px) {
  .buttons_box {
    margin-bottom: 4.6rem;
    width: 640px;
  }
}

@media (max-width: 710px) {
  .buttons_box {
    margin-bottom: -0.5%;
    flex-direction: column;
  }
  .keyborad_buttons {
    width: 87%;
  }
  .resetAndLifesButton_box {
    flex-direction: row;
    width: 80%;
    margin-bottom: 0.3rem;
  }
  .reset_button {
    margin: 0;
  }

  .lifes {
    height: 75%;
  }
}

@media (max-width: 650px) {
  .buttons_box {
    margin-bottom: 1%;
  }
}

@media (max-width: 620px) {
  .keyborad_buttons {
    margin-top: 16px;
  }

  .letterButton {
    width: 36px;
    height: 36px;
    margin: 2px;
  }
}

@media (max-width: 600px) {
  .keyboard_box1,
  .keyboard_box2,
  .keyboard_box3,
  .keyboard_box4,
  .keyboard_box5,
  .keyboard_box6,
  .keyboard_box7 {
    padding-left: 10%;
  }

  .keyborad_buttons {
    margin-top: 22px;
    padding-left: 7%;
  }
}

@media (max-width: 515px) {
  .keyboard_box1,
  .keyboard_box2,
  .keyboard_box3,
  .keyboard_box4,
  .keyboard_box5,
  .keyboard_box6,
  .keyboard_box7 {
    padding-left: 35%;
  }

  .keyborad_buttons {
    padding-left: 7%;
    width: 70%;
  }

  .letterButton {
    width: 44px;
    height: 44px;
    margin: 2px;
    font-size: 1.5rem;
  }

  .resetAndLifesButton_box {
    margin-top: -1rem;
    padding-left: 2%;
  }
}

@media (max-width: 400px) {
  .keyboard_box1,
  .keyboard_box2,
  .keyboard_box3,
  .keyboard_box4,
  .keyboard_box5,
  .keyboard_box6,
  .keyboard_box7 {
    padding-left: 40%;
  }

  .resetAndLifesButton_box {
    width: 69%;
    padding-left: 5%;
  }
}

@media (max-width: 350px) {
  .keyboard_box1,
  .keyboard_box2,
  .keyboard_box3,
  .keyboard_box4,
  .keyboard_box5,
  .keyboard_box6,
  .keyboard_box7 {
    padding-left: 58%;
  }
}
