.landScape__container {
  width: 1100px;
  margin: auto;

  z-index: 1;
}

.landScape__img {
  width: 1100px;
  height: auto;
}

.landScape__button {
  font-family: "Permanent Marker";
  font-size: 20px;
  position: absolute;
  top: 2%;
  left: 2%;
}

/* @media (max-width: 750px) {
  .landScape__button {
    
  }
} */
