.verificator__container {
  margin: 0 auto;
  width: 1100px;
  font-family: "Permanent Marker";
  position: relative;
}

.verificator__inscripitedWord {
  font-size: 37px;
  position: absolute;
  top: 42%;
  left: 22%;
}
